tornado==4.5.1
falcon-cors==1.1.2
eventlet==0.9.7
gevent==0.13
gunicorn==19.7.1
colorama==0.3.9
falcon==1.2.0
httpie==0.9.9
numpy==1.12.1
pandas==0.20.2
Pygments==2.2.0
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
virtualenv==15.1.0
waitress==1.0.2
